.timeline {
  margin-top: 35px;
  padding: 15px;
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: center;
}

ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
li {
  margin-top: 30px;
  position: relative;
  padding: 25px;
}
li p {
  padding: 0 40px;
  transition: 1.5s;
  justify-self: center;
}

.date {
  position: absolute;
  top: 30px;
  left: -50px;
  opacity: 0;
  transition: 1.5s;
  font-size: 12px;
}

.timeline-line {
  background: rgb(228, 228, 228);
  width: 5px;
  border-radius: 15px;
  position: relative;
  justify-self: end;
}

.timeline-point {
  border: none;
  position: absolute;

  border-radius: 50%;
  background: rgb(228, 228, 228);
  width: 8px;
  height: 8px;
  top: 30px;
  left: -6px;
  transition: 1.5s ease;
}

.timeline-innerline {
  position: absolute;
  background: blue;
  width: 4px;
  height: 0%;
  top: 0%;
  left: 0%;

  transition: 1s linear;
}

@media screen and (min-width: 728px) {
  .timeline {
    display: block;
  }
  ul {
    flex-direction: row;
  }
  li {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
  }
  li p {
    transform: translateY(-10px);
    opacity: 0;
    padding: 0 55px; 
    transition: 1.5s;
    position: absolute;
  }

  .date {
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;
    position: absolute;
    top: -70px;
    left: 42%;
  }

  .timeline-point {
    width: 15px;
    height: 15px;
    top: -40px;
    left: 45%;
    transition: 1.5s ease;
    justify-content: center;
  }

  .timeline-line {
    width: 100%;
    height: 4px;
  }

  .timeline-innerline {
    position: absolute;
    background: blue;
    width: 0%;
    height: 4px;

    top: 0%;
    left: 0%;

    transition: 1s linear;
    border-radius: 999px;
  }
}
.tr{
  color: Black;
  font-weight: 700;
  margin-top: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 23px;
}

.tr span{
  color: #8D021F;
}

